h1{
text-align:center;
background-color:silver;
margin-bottom:300px;
border:1px solid black;
}
h2{
text-align:center;
vertical-align:text-bottom;
margin-top:-300px;
}
a{
text-decoration:none;
margin-right:50px;
color:Black;
background-color:yellow;
}
.kontakt{
background-color:rgb(250,170,170);
width:100%;
}
.naslovnica{
width:100%;
}
a:hover{
color:blue;
text-decoration:none;
}
