h1{
text-align:center;
background-color:silver;
margin-bottom:300px;
border:1px solid black;
}
h2{
text-align:center;
vertical-align:text-bottom;
margin-top:-300px;
}
a{
text-decoration:none;
margin-right:50px;
color:Black;
background-color:yellow;
}
.linkovi{
background-color:rgb(250,170,170);
font-size:15px;
}
.naslovnica{
width:100%;
}
.lista{
background-color:rgb(250,170,170);
list-style-image:url('strelica.png');
list-style-position:inside;
font-size:20px;
padding-left:5px;
}
a:hover{
color:blue;
text-decoration:none;
}
.tekst{
background-color:rgb(250,170,170);
margin-bottom:-20px;
}
